@font-face {
    font-family: 'NanumBarunGothic';
    src: url('NanumBarunGothic.ttf') format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
    background: #ececec;
    font-family: 'NanumBarunGothic';
}

#container {
    width: 720px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 50px 40px;
    box-shadow: 20px 20px 50px #d3d3d3;
}

.time {
    font-size: 90px;
    line-height: 90px;
    font-weight: 800;
}

.box {
    float: left;
    margin: 0 10px;
    width: 160px;
    text-align: center;
}

.title {
    letter-spacing: 4px;
}

.head {
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #537dca;
}

.fin-txt {
    text-align: center;
    font-size: 35px;
    font-weight: 300;
}
